html, body {
    width: 100%;
    /*
    100vw take viewport width with including
    the width under vertical(y-axis) scrollbar
    So this will cerate horizontal(x-axis) Overflow.
    */

    height: auto;
    min-height: 200vh;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    color: black;
    font-size: 18px;
    background-color: #ddd;
    font-family: 'Roboto Mono', monospace;
}
body {
    overflow: hidden;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
section {
    width: 100%;
    height: auto;
}
#loading {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #ddd;
}
#loading.hide {
    opacity: 0;
    display: none;
}
#loading div {
    text-align: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 10px solid #aaa;
    border-bottom: 10px solid #111;
    animation: rotate .6s alternate ease-in-out infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(110deg);
    }
    100% {
        transform: rotate(-110deg);
    }
}
#loading .logo {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-left: 6px;
}
.logo path {
    fill: #000;
}
section > h1 {
    width: calc(100% - 40px);
    margin: 10px auto;
    font-size: 3.4rem;
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
}
#about {
    min-height: 100vh;
    max-height: 1100px;
}
#about header {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-left: 18px;
}
#about .logo {
    height: 80px;
    width: 80px;
}
#toggle-container {
    border-radius: 30px;
    width: 70px;
    height: 30px;
    box-sizing: content-box;
    padding: 4px;
    display: flex;
    margin: auto 10vw 30px auto;
    background-color: #000;
}
#about header #toggle-input {
    display: none;
}
#toggle-container #icon-hider {
    position: absolute;
    z-index: 5;
    width: 30px;
    height: 30px;
    padding: 4px;
    border-radius: 50%;
    background-color: #ddd;
    transition: ease-in-out 240ms 20ms;
}
#toggle-input:checked + #toggle-container #icon-hider {
    margin-left: 38px;
}
#toggle-container img {
    height: calc(100% - 6px);
    margin-top: 3px;
}
#toggle-container #moon {
    margin-left: 3px;
}
#toggle-container #sun {
    height: calc(100% - 3px);
    margin-left: auto;
    margin-right: 3px;
    margin-top: 2px;
}
#about main {
    width: calc(100% - 20px);
    margin: 0px auto;
    height: auto;
    min-height: calc(100vh - 100px);
    max-height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#about main .profile {
    width: 40%;
    max-width: 360px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#about main .profile img {
    width: 100%;
    margin: 0px auto;
    max-width: 260px;
    border-radius: 50%;
}
#about main .profile div {
    margin-top: 20px;
    font-size: 1.4rem;
}
#about main .about {
    width: 60%;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#about main .about .about-me {
    font-size: 3.4rem;
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
}
#about main .about .describe {
    text-align: justify;
    padding-top: 30px;
    font-size: 1.6rem;
    line-height: 1.8;
    text-indent: 40px;
}
#about main .about a {
    width: auto;
    margin: 20px auto;
    padding: 6px 12px;
    background-image: linear-gradient(40deg, #0071b8 0%, #6F00FF 100%);
    border-radius: 6px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
}
#skills {
    padding-top: 20px;
}
#skills > div {
    width: 90%;
    margin-top: -20px;
}
#skills .skill-section {
    width: 90%;
    max-width: 460px;
    margin: 40px auto;
}
#skills .skill-title {
    font-size: 1.4rem;
    margin: 30px auto;
}
#skills .skill-picture {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#skills img {
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    background-color: #ddd;
}
#skills .noPadding img {
    padding: 0px;
}
#projects {
    height: auto;
    padding-top: 20px;
}
#projects .projects-item {
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto;
}
#projects .projects-container {
    width: 45%;
    max-width: 460px;
    margin: 20px auto;
    text-align: center;
    background-image: linear-gradient(40deg, #0071b8 0%, #6F00FF 100%);
    border-radius: 8px;
    overflow: hidden;
    padding: 4px;
}
#projects .projects-container img {
    width: 100%;
    border-radius: 3px;
}
#projects .link {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
    font-size: 1.8rem;
}
#projects a.link-item {
    display: inline-flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    max-width: 120px;
    border-radius: 6px;
    padding: 4px 6px;
    color: black;
    text-decoration: none;
    background-color: #ddd;
}
#projects .svg {
    fill: #000;
    height: 1.2rem;
}
#contact {
    width: 100%;
    height: auto;
    min-height: auto;
    max-height: 800px;
    padding-top: 20px;
}
#contact > h1 {
    height: 40px;
}
#contact .mail-container {
    width: 100%;
    height: 100px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mail {
    width: auto;
    margin: 0px auto;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #31393C;
    padding: 6px 12px;
    border-radius: 6px;
    letter-spacing: 3px;
}
#contact > div {
    width: 100%;
}
#contact .social-link-container {
    width: 100%;
    height: auto;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact .social-link-title {
    width: 100%;
    height:60px;
    font-size: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .social-link {
    width: 100%;
    height: calc(100vh - 320px);
    min-height: 240px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#contact .social-link a {
    width: 100%;
    max-width: 140px;
    text-decoration: none;
    color: black;
    background-color: #ddd;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    border: 2px solid #000;
    border-radius: 6px;
}
#contact svg {
    height: 1.2rem;
    transition-duration: 0.6s;
    /* Hover OUT duration */
}
#contact svg path {
    fill: #000;
}
#contact .social-link a:hover > svg {
    transform: rotate(360deg);
    transition-duration: 1.2s;
    /* Hover IN duration */
}

footer {
    width: 100%;
    height: 60px;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(40deg, #0071b8 0%, #6F00FF 100%);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer a {
    color: white;
}
@media (max-width:880px) {
    #about header div {
        margin-right: 8vw;
    }
    #about main {
        flex-direction: column;
    }
    #about main .profile {
        padding-top: 50px;
        width: 100%;
    }
    #about main .profile div {
        font-size: 1.2rem;
    }
    #about main .about {
        width: calc(100% - 20px);
        margin: 0px auto;
        padding-top: 50px;
    }
    #about main .about .about-me, section > h1 {
        font-size: 2.6rem;
    }
    #about main .about .describe {
        padding-top: 20px;
        font-size: 1.2rem;
        line-height: 1.4;
    }
    #projects .projects-container {
        min-width: 35%;
    }
    #projects .link-item span {
        font-size: calc(1.2 * 2.2vw);
    }
    #contact .social-link-title {
        font-size: 2.6rem;
    }
    #mail {
        font-size: calc(1.2 * 3.2vw);
        letter-spacing: 2px;
    }
    #contact .social-link-title {
        font-size: calc(1.8 * 4vw);
    }
    footer {
        font-size: calc(.8 * 4vw);
    }
}
@media (max-width:560px) {
    #toggle-container {
        width: 54px;
        height: 26px;
        padding: 2px;
    }
    #toggle-container #icon-hider {
        width: 26px;
        height: 26px;
    }
    #toggle-input:checked + #toggle-container #icon-hider {
        margin-left: 28px;
    }
    #toggle-container #sun {
        height: calc(100% - 4px);
    }
    #projects .projects-item {
        flex-direction: column;
    }
    #projects .projects-container {
        width: 90%;
        max-width: auto;
        margin: 10px auto;
        min-width: auto;
    }
    #projects .link-item span {
        font-size: calc(1.3 * 3.6vw);
    }
    footer {
        font-size: calc(1 * 4vw);
    }
}

/*************** DARK-THEME ***************/

body.dark-theme {
    color: #fff;
    background-color: black;
}
.dark-theme .logo path {
    fill: #fff;
}
.dark-theme #loading {
    background-color: #000;
}
.dark-theme #loading div {
    border-color: #111;
    border-bottom-color: #aaa;
}
.dark-theme #toggle-container {
    background-color: #444;
}
.dark-theme #toggle-container #icon-hider {
    background-color: #ddd;
}