html, body {
    width: 100%;

    /*
    100vw take viewport width with including
    the width under vertical(y-axis) scrollbar
    So this will cerate horizontal(x-axis) Overflow.
    */

    height: auto;
    min-height: 200vh;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    color: black;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* best system fonts used by github, bootstrap etc. SRC from https://flaviocopes.com/css-system-fonts/ */
    background-color: #fff;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
section {
    width: 100%;
    height: auto;
    content-visibility: auto;
    contain-intrinsic-size: 1px 800px;
}

section > h1 {
    width: calc(100% - 100px);
    margin: 10px auto;
    font-size: 2.2rem;
}
section > h1 > a {
    color: rgb(0, 0, 255);
    }
#about {
    min-height: 100vh;
    max-height: 1100px;
}
#about header {
    width: 100%;
    padding-top: 20px;
    padding-left: 18px;
}
#logo {
    height: 80px;
    width: 80px;
    fill:#000;
}
#about main {
    width: calc(100% - 20px);
    margin: 0px auto;
    height: auto;
    min-height: calc(100vh - 100px);
    max-height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#about main .profile {
    width: 40%;
    max-width: 360px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#about main .profile img {
    width: 100%;
    margin: 0px auto;
    max-width: 260px;
    border-radius: 50%;
}
#about main .profile div {
    margin-top: 20px;
    font-size: 1.4rem;
}
#about main .about {
    width: 60%;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#about main .about .about-me {
    font-size: 2rem;
    font-weight: bold;
}
#about main .about .describe {
    text-align: justify;
    padding-top: 30px;
    font-size: 1.6rem;
    line-height: 1.8;
    text-indent: 40px;
}
#about main .about a {
    width: auto;
    margin: 20px auto;
    padding: 10px 16px;
    background-color: black;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#skills {
    padding-top: 20px;
}
#skills > div {
    width: 90%;
}
#skills .skill-section {
    width: 90%;
    max-width: 460px;
    margin: 40px auto;
}
#skills .skill-title {
    font-size: 1.4rem;
    margin: 30px auto;
}
#skills .skill-picture {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#skills img {
    width: 100px;
    padding: 10px;
}
#projects {
    height: auto;
    padding-top: 20px;
}
#projects .projects-item {
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto;
}
#projects .projects-container {
    width: 45%;
    max-width: 460px;
    margin: 20px auto;
    text-align: center;
    background-color: rgb(255, 89, 48);
    border-radius: 8px;
    overflow: hidden;
    border: 4px solid rgb(255, 89, 48);
}
#projects .projects-container img {
    width: 100%;
    border-radius: 0px 0px 3px 3px;
}
#projects .link {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
    font-size: 1.8rem;
}
#projects a.link-item {
    display: inline-flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    max-width: 120px;
    border-radius: 6px;
    padding: 4px 6px;
    color: black;
    text-decoration: none;
    background-color: lightblue;
}
#projects .svg {
    fill: #000;
    height: 1.2rem;
}

#contact {
    width: 100%;
    height: auto;
    min-height: auto;
    max-height: 800px;
    padding-top: 20px;
}
#contact > h1 {
    height: 40px;
}
#contact .mail-container {
    width: 100%;
    height: 100px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mail {
    width: auto;
    margin: 0px auto;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: rgb(93, 223, 255);
    padding: 6px 12px;
    border-radius: 6px;
    letter-spacing: 3px;
}
#contact > div {
    width: 100%;
}
#contact .social-link-container {
    width: 100%;
    height: auto;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact .social-link-title {
    width: 100%;
    height:60px;
    font-size: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .social-link {
    width: 100%;
    height: calc(100vh - 320px);
    min-height: 240px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#contact .social-link a {
    width: 100%;
    max-width: 140px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    border: 2px solid #000;
    border-radius: 6px;
}
#contact svg {
    fill: #000;
    height: 1.2rem;
    transition-duration: 0.6s;
}
#contact .social-link a:hover > svg {
    transform: rotate(360deg);
    transition-duration: 1.2s;    
}

footer {
    width: 100%;
    height: 60px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: rgb(255, 174, 0);
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer a {
    color: black;
}
@media (max-width:880px) {
    #about main {
        flex-direction: column;
    }
    #about main .profile {
        padding-top: 50px;
        width: 100%;
    }
    #about main .about {
        width: calc(100% - 20px);
        margin: 0px auto;
        padding-top: 50px;
    }
    #about main .about .about-me {
        font-size: 1.4rem;
    }
    #about main .about .describe {
        padding-top: 20px;
        font-size: 1.4rem;
        line-height: 1.4;
    }
    #projects .link-item span {
        font-size: calc(1.2 * 2.2vw);
    }
    #contact .social-link-title {
        font-size: 2.6rem;
    }
    #mail {
        font-size: calc(1.2 * 3.2vw);
        letter-spacing: 2px;
    }
    #contact .social-link-title {
        font-size: calc(1.8 * 4vw);
    }
    footer {
        font-size: calc(.8 * 4vw);
    }
}
@media (max-width:560px) {
    #projects .projects-item {
        flex-direction: column;
    }
    #projects .projects-container {
        width: 90%;
        max-width: auto;
        margin: 10px auto;
    }
    #projects .link-item span {
        font-size: calc(1.3 * 3.6vw);
    }
    footer {
        font-size: calc(1 * 4vw);
    }
}

@media (prefers-color-scheme: dark) {
    html, body {
        color: #ddd;
        background-color: black;
    }
    section > h1 > a {
        color: rgb(42, 42, 255);
        }
    #logo {
        fill:#fff;
    }
    #about main .about a {
        background-color: #ddd;
        color: #000;
    }
    #skills img {
        border-radius: 6px;
        background-color: #ddd;
    }
    #contact .social-link a {
        color: #ddd;
        border: 2px solid #ddd;
    }
    #contact svg {
        fill: #ddd;
        height: 1.2rem;
        transition-duration: 0.6s;
    }
}